*, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.hero {
    background-image: url("../img/bg_hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 900px;
    vertical-align: text-bottom;
    padding-top: 550px;
    text-shadow:  1px 1px 10px rgba(0, 0, 0, 0.7);
}
.navy-blue {
    background-color: #152238;
}
.oswald {
    font-family: 'Oswald';
}
.divider {
    height: 5px;
    width: 150px;
    background-color: rgb(21, 34, 56);
}
.ico-color {
    color: rgb(213, 160, 33);
}
}
.carousel-photo {
    min-height: 100%;
}
.carousel-indicators {
    top: 360px;
}
.carousel-indicators li {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

@media only screen and (min-width: 768px) {
    .hero {
        padding-top: 30%;
    }
}